.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerRow {
  background-color: #555;
  padding: 12px 0;
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
