@import 'base';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerRow {
  padding: $contentMargin 0;
}

.headerRow .content {
  float: left;
  margin-left: $contentMargin;
}

.body {
}
