// @import 'styles/_base.scss';
@import 'base';

.container {
}

.content {
  display: flex;
  flex-direction: column;
}

.divider {
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sectionWrapper {
  padding: $contentMargin;
}

.sectionHeader {
  text-align: left;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: $labelColor;
}

.sectionContent {
  display: flex;
  flex-direction: row;
}

.keyOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.keyOption {
  flex: 1;
  min-width: 50px;
  text-align: left;
  margin-left: $contentMargin;
}

.modeOption {
  margin-left: $contentMargin;
}

.expandUp {
  display: block;
}

.bottomRowContent {
  float: right;
  padding: $contentMargin;
}

.rowItem {
  flex: 1;
}

.tempoText {
  width: 60px;
  font-size: 24px;
  margin-left: $contentMargin;
  // text-align: center;
  border: none;
  border-bottom: 2px solid $accent;
  background-color: rgba(0,0,0,0);
}

.tempoContent {
  padding-bottom: 20px;
}

.sliderWrapper {
  position: relative;
  flex: 1;
  margin-top: 15px;
  margin-right: 15px;
}

.sliderLabel {
  top: 24px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.sliderMin {
  left: 0;
}

.sliderMax {
  right: 0;
}
