@import 'base';

.container {

}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: $contentMargin;
  cursor: pointer;
}

.optionsWrapper {
  flex: 1;
}

.option {
  flex: 1;
  min-width: 120px;
  text-align: left;
}

.option div {
  display: inline;
  padding: 6px;
}

.option .label {
  text-transform: uppercase;
  color: $labelColor;
  display: inline-block;
  min-width: 66px;
  text-align: right;
}

.option .value {
  font-size: 18px;
}

.crotchet {
  background-image: url('modules/start-screen/components/icons/quarter-note-white.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.expandDown {
  flex-basis: 24px;
  border-radius: 100px;
  padding: $contentMargin;
  margin-right: 8px;
  background-image: url('modules/start-screen/components/icons/down-arrow.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.expandDown:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 300ms;
  border-radius: 100px;
  padding: $contentMargin;
}

.expandDown:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  padding: $contentMargin;
}
