/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$labelColor: rgba(255, 255, 255, 0.5);

$accentRed: 30;
$accentGreen: 144;
$accentBlue: 255;

$accent: rgb($accentRed, $accentGreen, $accentBlue);
$accentBright: rgb($accentRed + 20, $accentGreen + 20, $accentBlue);

$buttonHoverOpacity: 0.8;
$buttonPressedOpacity: 0.6;

$contentMargin: 12px;
