.volumePlotParentContainer {
  position: relative;
  width: 100%;
  height: 100px;
}

.pitchPlotParentContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.pitchPlotMiniParentContainer {
  width: 200px;
  height: 200px;
}
